{{#each this}}
<div class="main-gallery">
  <img class="main-gallery__img" src="{{backdrop_path}}" alt="{{name}}" id={{id}}>
  <h2 class="main-gallery__title">{{name}}</h2>
  <ul class="main-gallery__genres">
    {{#each genre_ids}}
    <li class="main-gallery__genres-item">{{this}}</li>
    {{/each}}
  </ul>
  <p class="main-gallery__release">{{release_date}}</p>
</div>
{{/each}}