{{#each this}}
  <li class='gallery__item' id={{id}} data-source='{{source_list}}'>
    <div class='gallery__img-thumb'>
      <img
        class='gallery__img'
        srcset='{{poster_path_W342}} 342w, {{poster_path_W500}} 500w'
        sizes='(min-width: 2048px) 500px,  342px'
        src='{{poster_path_W342}}'
        alt='{{title}}'
      />
    </div>
    <div class='gallery__card-nav'>
      <button class='gallery__btn'>
        <svg class='gallery__icon' width='30'>
          {{! <use href='../images/sprite.svg#icon-watched'></use> }}
        </svg>
      </button>
    </div>
    <div class='gallery__info'>
      <h2 class='gallery__title'>{{title}}</h2>
      <div class='gallery__help-wrapper'>
        <span class='gallery__genres'>{{genres}}</span>
        <span class='gallery__date'>{{release_date}}</span>
        <span class='gallery__rating'>{{vote_average}}</span>
      </div>
    </div>
  </li>
{{/each}}