<div class="modal-movie">
  <button type="button">
    <svg width="14" height="14">
      <use href=""></use>
    </svg>
  </button>
  <img class="modal-movie__img" src="{{poster_path}}" alt="{{name}}" id={{id}}>
</div>
<div>
  <table>
    <tr>
      <td class="modal-movie__history"> <span>Vote</span> / Votes</td>
      <td class="modal-movie__show">{{vote_average}}/{{vote_count}}</td>
    </tr>
    <tr>
      <td class="modal-movie__history">Popularity</td>
      <td class="modal-movie__show">{{popularity}}</td>
    </tr>
    <tr>
      <td class="modal-movie__history">Original Title</td>
      <td class="modal-movie__show">{{original_title}}</td>
    </tr>
    <tr>
      <td class="modal-movie__history">Genre</td>
      <td class="modal-movie__show">
        <ul class="modal-genres">
          {{#each genre_ids}}
          <li class="modal-genres__item">{{this}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
  </table>
</div>
<h3>about</h3>
<p class="modal-movie__overview">{{overview}}</p>
</div>
<div>
  <button type="button">add to watched</button>
  <button type="button">add to queue</button>
</div>