<div class='modal-movie'>
  <button class='modal-movie__close-btn js-modal-movie__close-btn' type='button'>
    <svg width='30' height='30'>
      <use href='sprite.svg#icon-close'></use>
    </svg>
  </button>
  <div class='modal-movie__poster'>
    <img
      class='modal-movie__img'
      srcset='{{poster_path_W342}} 342w, {{poster_path_W500}} 500w, {{poster_path_W780}} 780w'
      sizes='(min-width: 2048px) 780px, (min-width: 1024px) 500px, 300px'
      src='{{poster_path_W342}}'
      alt='{{title}}'
    />
  </div>
  <div class='modal-movie__description'>
    <h2 class='modal-movie_name'>{{title}} </h2>
    <table class='modal-movie__table'>
      <tr class='tr'>
        <td class='modal-movie__history'> Vote / Votes</td>
        <td class='modal-movie__show'>
          <span class='vote'>{{vote_average}}</span>
          /
          <span class='votes'>{{vote_count}}</span></td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Popularity</td>
        <td class='modal-movie__show'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Original Title</td>
        <td class='modal-movie__show'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Genre</td>
        <td class='modal-movie__show'>{{genres}}</td>
      </tr>
    </table>
    <h3 class='overviev-title'>about</h3>
    <p class='modal-movie__overview'>{{overview}}</p>
    <button class='youtube-btn' type='button' data-id='{{id}}'>
      watch trailer
      <svg class='youtube__btn-icon'>
        <path
          fill='#f00'
          style='fill: var(--color1, #f00)'
          d='M31.327 8.273c-0.386-1.353-1.431-2.398-2.756-2.777l-0.028-0.007c-2.493-0.668-12.528-0.668-12.528-0.668s-10.009-0.013-12.528 0.668c-1.353 0.386-2.398 1.431-2.777 2.756l-0.007 0.028c-0.443 2.281-0.696 4.903-0.696 7.585 0 0.054 0 0.109 0 0.163l-0-0.008c-0 0.037-0 0.082-0 0.126 0 2.682 0.253 5.304 0.737 7.845l-0.041-0.26c0.386 1.353 1.431 2.398 2.756 2.777l0.028 0.007c2.491 0.669 12.528 0.669 12.528 0.669s10.008 0 12.528-0.669c1.353-0.386 2.398-1.431 2.777-2.756l0.007-0.028c0.425-2.233 0.668-4.803 0.668-7.429 0-0.099-0-0.198-0.001-0.297l0 0.015c0.001-0.092 0.001-0.201 0.001-0.31 0-2.626-0.243-5.196-0.708-7.687l0.040 0.258zM12.812 20.801v-9.591l8.352 4.803z'
        >
        </path>
      </svg>
    </button>
    <div class='modal-movie__btn-list'>
      <button
        class='modal-movie__btn-item btn btn--secondary'
        type='button'
        data-id='{{id}}'
        data-action='add-to-watched'
      >{{#if watched}}remove from watched{{else}}add to watched{{/if}}</button>
      <button
        class='modal-movie__btn-item btn btn--secondary'
        type='button'
        data-id='{{id}}'
        data-action='add-to-queue'
      >{{#if queue}}remove from queue{{else}}add to queue{{/if}}</button>
    </div>
  </div>
</div>