<div class='modal-movie'>
  <button class='modal-movie__close-btn' type='button'>
    <svg width='30' height='30'>
      <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
      <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
    </svg>
  </button>
  <div class='modal-movie__poster'>
    <img class='modal-movie__img' src='{{poster_path}}' alt='{{title}}' id={{id}} />
  </div>
  <div class='modal-movie__description'>
    <h2 class='modal-movie_name'>{{title}} </h2>
    <table class='modal-movie__table'>
      <tr class='tr'>
        <td class='modal-movie__history'> Vote / Votes</td>
        <td class='modal-movie__show'>
          <span class='vote'>{{vote_average}}</span>
          /
          <span class='votes'>{{vote_count}}</span></td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Popularity</td>
        <td class='modal-movie__show'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Original Title</td>
        <td class='modal-movie__show'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-movie__history'>Genre</td>
        <td class='modal-movie__show'>{{genres}}</td>
      </tr>
    </table>
    <h3 class='overviev-title'>about</h3>
    <p class='modal-movie__overview'>{{overview}}</p>
    <div class='modal-movie__btn-list'>
      <button
        class='modal-movie__btn-item btn btn--secondary'
        type='button'
        data-id='{{id}}'
        data-action='add-to-watched'
      >add to watched</button>
      <button class='modal-movie__btn-item btn btn--secondary' type='button' data-id='{{id}}'>add to
        queue</button>
    </div>
  </div>
</div>